streamlit==1.37.0
pydantic==2.12.4
langchain-openai
langchain-core==0.3.10
langchain-community==0.3.2
langchain-text-splitters
openai==1.40.0

# File Processing Libraries
pypdf 
PyMuPDF==1.23.7  
python-docx
openpyxl

# Other necessary libraries
faiss-cpu==1.13.0
